NET led0 IOSTANDARD=LVTTL;
NET led0 LOC=P33;

NET led1 IOSTANDARD=LVTTL;
NET led1 LOC=P32;

NET led2 IOSTANDARD=LVTTL;
NET led2 LOC=P31;

NET led3 IOSTANDARD=LVTTL;
NET led3 LOC=P30;

NET led4 IOSTANDARD=LVTTL;
NET led4 LOC=P29;

NET led5 IOSTANDARD=LVTTL;
NET led5 LOC=P28;

NET led6 IOSTANDARD=LVTTL;
NET led6 LOC=P27;

NET led7 IOSTANDARD=LVTTL;
NET led7 LOC=P23;

//NET btn0 LOC=P22;
//NET btn1 LOC=P21;
//NET btn2 LOC=P20;
//NET btn3 LOC=P19;

NET data0 IOSTANDARD=LVTTL;
NET data0 LOC=P3;

NET data1 IOSTANDARD=LVTTL;
NET data1 LOC=P5;

NET data2 IOSTANDARD=LVTTL;
NET data2 LOC=P6;

NET data3 IOSTANDARD=LVTTL;
NET data3 LOC=P8;

NET data4 IOSTANDARD=LVTTL;
NET data4 LOC=P12;

NET data5 IOSTANDARD=LVTTL;
NET data5 LOC=P13;

NET data6 IOSTANDARD=LVTTL;
NET data6 LOC=P14;

NET data7 IOSTANDARD=LVTTL;
NET data7 LOC=P16;

// FB2_9 : P3  : data0
// FB2_10: P5  : data1
// FB2_11: P6  : data2
// FB2_12: P8  : data3
// FB2_13: P12 : data4
// FB2_14: P13 : data5
// FB2_15: P14 : data6
// FB2_16: P16 : data7

// NET input_only LOC=P18;
NET clk_50MHz PERIOD=20;
NET clk_50MHz LOC=P1;